// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    position: relative;
    @include flexCol;
    justify-content: center;
    height: 200px;
    background-color: $dark-blue;
    padding: 0 15rem;

    @include respond(tab-land) {
        padding: 0 12rem;
    }

    @include respond(tab-port) {
        padding: 0 10rem;
    }

    @include respond(phone) {
        height: 400px;
    }

    @include respond(phone-min) {
        padding: 0 5rem;
    }

    &__container {
        @include flexRow;
        justify-content: start;
        width: 100%;

        @include respond(phone) {
            @include flexCol;
            height: 350px;
            justify-content: space-between;
        }
    }

    &__logo-box {
        @include flexCol;
        align-items: flex-start;
        height: 100%;
        width: 15%;

        @include respond (tab-land) {
            width: 20%;
        }

        @include respond (tab-port) {
            justify-content: center;
            width: 100%;
        }

        @include respond(phone) {
            width: 50%;
            align-items: center;
        }
    }

    &__icons {
        width: 100%;
        @include flexRow;

        & a:hover path {
            fill: $lime-green;
        }

        @include respond (tab-port) {
            margin-top: 3rem;
        }
    }

    &__nav {
        @include flexRow;
        height: 100%;
        width: 30%;
        margin-left: 12rem;

        @include respond(tab-port) {
            width: 40%;
        }

        @include respond(phone) {
            width: 50%;
            margin-left: 0;
            text-align: center;
            align-items: center;
        }

        @include respond(phone-min) {
            @include flexCol;
        }
    }

    &__list {
        list-style: none;
        font-size: 1.6rem;
        line-height: 2;

        @include respond(phone-min) {
            font-size: 2rem;
            line-height: 2.5;
            margin-bottom: 1rem;
        }

        & a,
        a:link,
        a:visited {
            text-decoration: none;
            color: $grayish-blue;

            &:hover {
                @include gradientText;
            }
        }
    }

    &__rights {
        @include flexCol;
        height: 100%;
        width: 45%;
        justify-content: center;
        align-items: flex-end;
        margin-left: auto;

        & p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }

        @include respond(phone) {
            width: 50%;
            margin-left: 0;
            text-align: center;
            align-items: center;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.2rem;
    color: $grayish-blue;
    text-align: center;

    @include respond(phone) {
        bottom: 45px;
    }

    @include respond(phone-min) {
        bottom: 20px;
    }

    & a,
    a:link,
    a:visited {
        text-decoration: none;
        color: $white;

        &:hover {
            @include gradientText;
        }
    }
}