// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    position: relative;
    @include flexCol;
    justify-content: center;
    height: 200px;
    background-color: $dark-blue;
    padding: 0 15rem;

    @include respond(tab-land) {
        padding: 0 12rem;
    }

    @include respond(tab-port) {
        padding: 0 10rem;
    }

    &__container {
        @include flexRow;
        justify-content: start;
        height: 100px;
        width: 100%;
    }

    &__logo-box {
        @include flexCol;
        align-items: flex-start;
        height: 100%;
        width: 15%;
    }

    &__icons {
        width: 100%;
        @include flexRow;

        & a:hover path {
            fill: $lime-green;
        }
    }

    &__nav {
        @include flexRow;
        height: 100%;
        width: 30%;
        margin-left: 12rem;
    }

    &__list {
        list-style: none;
        font-size: 1.6rem;
        line-height: 2;

        & a,
        a:link,
        a:visited {
            text-decoration: none;
            color: $grayish-blue;

            &:hover {
                @include gradientText;
            }
        }
    }

    &__rights {
        @include flexCol;
        height: 100%;
        width: 45%;
        justify-content: center;
        align-items: flex-end;
        margin-left: auto;

        & p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.2rem;
    color: $grayish-blue;

    & a,
    a:link,
    a:visited {
        text-decoration: none;
        color: $white;

        &:hover {
            @include gradientText;
        }
    }
}