.article {
    @include flexCol;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;

    & figure {

        & img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 3rem;

            @include respond(tab-land) {
                height: 150px;
            }
        }

        & figcaption {
            color: $grayish-blue;
            margin-left: 3rem;
        }
    }

    & article {
        height: 100%;
        padding: 2rem 3rem;
        padding-right: 2rem;
    }
}