.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: $white;
        background: linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
    }
}