.btn {

    display: inline-block;

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: $white;
        background: $default-gradient;
        transition: opacity .3s;

        &:hover {
            opacity: .6;
        }
    }
}