html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(desktop) {
    font-size: 60%;
  }

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 42%;
  }

  @include respond(phone) {
    font-size: 40%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}