// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.u-text-gradient {
  display: inline-block;
  background-image: $default-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}